*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'jsMath-cmbx10';
}
.header{
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: white;
    z-index: 2;
    padding: 10px 16px;

}
ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    list-style: none;
}
ul li a {
    text-decoration: none;
}
.hero{
    width:100% ;
    height:20% ;
    position: absolute;
    left: 1px;
    top: 34px;
   
    
}
.logo{
    position: relative;
    left: 47%;
    top: 0px;
    
}
.Hitaka {
    position: absolute;
    left: 13%;
    top: 550px; 
    background-size: cover;
    background-repeat: no-repeat;
    
}
.sidepic {
    width: 996px;
    height: 664px;
    position: absolute;
    left: 1px;
    top: 1208px;
    background-image: url(img/image_6.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sidepic2{
    width: 996px;
    height: 664px;
    position: absolute;
    left: 523px;
    top: 1208px;
    background-image: url(img/image_6.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.title{
    color: rgba(0, 0, 0, 1);
    width: 372px;
    height: 84px;
    position: absolute;
    left: 534px;
    top: 1212px;
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}
.title3{
    color: rgba(0, 0, 0, 1);
    width: 372px;
    height: 84px;
    position: absolute;
    left: 539px;
    top: 3122px;
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}
.title4{
    color: rgba(0, 0, 0, 1);
    width: 372px;
    height: 84px;
    position: absolute;
    left: 539px;
    top: 4742px;
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}
.paragraphe{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 751px;
    top: 1357px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe-about{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 774px;
    top: 1621px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe2{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 861px;
    top: 2191px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe-about2{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 93px;
    top: 2191px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe3{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left:89px;
    top: 2768px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe-about3{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 774px;
    top: 2768px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe-techni{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 93px;
    top: 3414px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe-techni2{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 774px;
    top: 3882px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe-techni3{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 93px;
    top: 4425px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}
.paragraphe-chef{
    color: rgba(0, 0, 0, 1);
    width: 562px;
    height: 119px;
    position: absolute;
    left: 777px;
    top: 5048px;
    font-family: Scope One;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}

.Sushi{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 777px;
    top: 1510px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/rectangle_11.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ingrd{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 22px;
    top: 1400px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Fish.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.Sushi2{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 21px;
    top: 2021px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Sushi\ model.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ingrd2{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 777px;
    top: 2021px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Rice.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.Sushi3{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 777px;
    top: 2548px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Sushi\ model\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ingrd3{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 22px;
    top: 2548px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Meet.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.techni{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 777px;
    top: 3214px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Technique\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.techni2{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 22px;
    top: 3714px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Technique\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.techni3{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 777px;
    top: 4222px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Technique\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.chef{
    width: 720px;
    height: 494px;
    position: absolute;
    left: 22px;
    top: 4886px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-image: url(img/Chef.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.title2{
    color: rgba(0, 0, 0, 1);
    width: 372px;
    height: 84px;
    position: absolute;
    left: 190px;
    top: 2595px;
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}
.minimenu {
    width: 899px;
    height: 240px;
    position: absolute;
    left: 270px;
    top: 3225px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-image: url(img/image_7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.recommandation{
    color: rgba(0, 0, 0, 1);
    width: 729px;
    height: 136px;
    position: absolute;
    left: 302px;
    top: 3284px;
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0;
}
.menuholder{
    background-color: rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
    width: 1051px;
    height: 688px;
    position: absolute;
    left: 194px;
    top: 3572px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.e1 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:22px;
	position:absolute;
	left:244px;
	top:3663px;
	font-family:Scope One;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:93px;
	height:5px;
	position:absolute;
	left:496px;
	top:3625px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e3 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:142px;
	height:29px;
	position:absolute;
	left:250px;
	top:3630px;
	font-family:jsMath-cmbx10;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:142px;
	height:29px;
	position:absolute;
	left:250px;
	top:3792px;
	font-family:jsMath-cmbx10;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:21px;
	position:absolute;
	left:244px;
	top:3826px;
	font-family:Scope One;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:93px;
	height:5px;
	position:absolute;
	left:496px;
	top:3787px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e7 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:142px;
	height:29px;
	position:absolute;
	left:906px;
	top:3630px;
	font-family:jsMath-cmbx10;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:22px;
	position:absolute;
	left:900px;
	top:3663px;
	font-family:Scope One;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e9 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:92px;
	height:5px;
	position:absolute;
	left:1153px;
	top:3625px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e10 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:142px;
	height:29px;
	position:absolute;
	left:906px;
	top:3792px;
	font-family:jsMath-cmbx10;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:21px;
	position:absolute;
	left:900px;
	top:3826px;
	font-family:Scope One;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:92px;
	height:5px;
	position:absolute;
	left:1153px;
	top:3787px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e13 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:142px;
	height:30px;
	position:absolute;
	left:250px;
	top:3959px;
	font-family:jsMath-cmbx10;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e14 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:21px;
	position:absolute;
	left:244px;
	top:3994px;
	font-family:Scope One;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e15 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:93px;
	height:5px;
	position:absolute;
	left:496px;
	top:3954px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e16 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:142px;
	height:28px;
	position:absolute;
	left:250px;
	top:4123px;
	font-family:jsMath-cmbx10;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e17 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:21px;
	position:absolute;
	left:244px;
	top:4156px;
	font-family:Scope One;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e18 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:93px;
	height:5px;
	position:absolute;
	left:496px;
	top:4118px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e19 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:142px;
	height:30px;
	position:absolute;
	left:906px;
	top:3959px;
	font-family:jsMath-cmbx10;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e20 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:21px;
	position:absolute;
	left:900px;
	top:3994px;
	font-family:Scope One;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e21 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:92px;
	height:5px;
	position:absolute;
	left:1153px;
	top:3954px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e22 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:142px;
	height:28px;
	position:absolute;
	left:906px;
	top:4123px;
	font-family:jsMath-cmbx10;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e23 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:21px;
	position:absolute;
	left:900px;
	top:4156px;
	font-family:Scope One;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e24 { 
	color:rgba(229.49999392032623, 157.59765297174454, 91.22626483440399, 1);
	width:92px;
	height:5px;
	position:absolute;
	left:1153px;
	top:4118px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e25 { 
	background-color:rgba(229.49999392032623, 157.59766817092896, 91.22626483440399, 0.6700000166893005);
	width:96px;
	height:34px;
	position:absolute;
	left:110px;
	top:1352px;
	border-top-left-radius:33px;
	border-top-right-radius:33px;
	border-bottom-left-radius:33px;
	border-bottom-right-radius:33px;
}
.e26 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:27px;
	position:absolute;
	left:137px;
	top:1355px;
	font-family:Libre Baskerville;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e27 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:27px;
	position:absolute;
	left:224px;
	top:1355px;
	font-family:Libre Baskerville;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e28 { 
	color:rgba(0, 0, 0, 1);
	width:86px;
	height:27px;
	position:absolute;
	left:353px;
	top:1355px;
	font-family:Libre Baskerville;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e29 { 
	color:rgba(0, 0, 0, 1);
	width:53px;
	height:27px;
	position:absolute;
	left:494px;
	top:1355px;
	font-family:Libre Baskerville;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e30 {
        background-color: rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
        width: 875px;
        height: 1141px;
        position: absolute;
        left: 57px;
        top: 1464px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
}
.e31 {
    background-color: rgba(222.00000196695328, 0, 18.000000827014446, 1);
    width: 100px;
    height: 386px;
    position: absolute;
    left: 1421px;
    top: 1644px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    z-index: 1;
}
.e32{
    
        border-radius: 500px;
        background-color: rgba(222.00000196695328, 0, 18.000000827014446, 1);
        width: 126px;
        height: 126px;
        position: absolute;
        left: 1370px;
        top: 1784px;
        z-index: 1;
    }
    .e33 {
        transform: rotate(-90deg);
        color: rgba(0, 0, 0, 1);
        width: 210px;
        height: 55px;
        position: absolute;
        left: 1371px;
        top: 1823px;
        font-family: Scope One;
        text-align: center;
        font-size: 40px;
        letter-spacing: 0;
        z-index: 1;
    }
    .e34 {
    width: 1516px;
    height: 2144px;
    position: absolute;
    left: 5px;
    top: 1896px;
    background-image: url(img/image_14.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .e35{
        width: 834px;
        height: 2000px;
        position: absolute;
        left: 683px;
        top: 1216px;
    background-image: url(img/small\ dish.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .e36{
        width: 1520px;
        height: 1199px;
        position: absolute;
        left: 0px;
        top: 3354px;
    background-image: url(img/Delivery.png);
    background-repeat: no-repeat;
    background-size: cover;
    }

.footer{
    position: absolute;
    left: 0px;
    top: 5428px;
}
.git{
    width: 388px;
    height: 690px;
    position: absolute;
    left: 1131px;
    top: 5738px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-image: url(img/Gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

}
.footerbg{
    background-color: rgba(0, 0, 0, 1);
    width: 1518px;
    height: 265px;
    position: absolute;
    left:  0px;
    top: 6165px;
}
.footermail{
    
    color: rgba(255, 255, 255, 1);
    width: 340px;
    height: 42px;
    position: absolute;
    left: 40px;
    top: 6299px;
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 19px;
    letter-spacing: 0;

}
.rights{
    color: rgba(255, 255, 255, 1);
    width: 358px;
    height: 35px;
    position: absolute;
    left: 544px;
    top: 6382px;
    font-family: Libre Baskerville;
    text-align: left;
    font-size: 19px;
    letter-spacing: 0;
}
.number{
    color: rgba(255, 255, 255, 1);
    width: 285px;
    height: 42px;
    position: absolute;
    left: 580px;
    top: 6218px;
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}
.facebook{
    width: 35px;
    height: 37px;
    position: absolute;
    left: 1133px;
    top: 6287px;
    background-image: url(img/image_10.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.instagram{
    width: 37px;
    height: 33px;
    position: absolute;
    left: 1180px;
    top: 6287px;
    background-image: url(img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 2;
}
.twitter{
    width: 35px;
    height: 36px;
    position: absolute;
    left: 1233px;
    top: 6287px;
    background-image: url(img/image_12.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}